@charset "utf-8";
body{background-image: url(image/qbx5T.jpg);}
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: red;
	background-color:black;

}
#headerLinks {
	float: left;
	width: calc( 100% - 139px );
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,1.00);
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}
/* Offer text banner*/
#banner {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	text-outline:rgba(42,149,201,1.00);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
	background: url(image/ylia_banner.png);
	background-size:cover;  
    background-repeat:   no-repeat;
    background-position: left left; 
	width: 100%;
	height:  200px; 
	font-size:30px;
	font-style:oblique;
    }
/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(249,0,4,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	padding-top: 36px;
	height: 600px;
}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
	text-align: left;
	color: rgba(249,0,4,1.00);
	position: relative;
	left: 0%;
}
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	
	margin-bottom: 21px;
}
/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
	
}
/*menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Product rows for catalog */
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 20px;
	position: relative;
	top: -20px;
	text-decoration: none;
}
.productRow .productInfo .price a:visited {color:white; background-color:transparent; text-decoration:none;}
.productRow .productInfo .price a{text-decoration: none;}
/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}
/*Each footer content */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
/* Links in footer */
footer div a {
	color: rgba(146,146,146,1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}
/* Product's images in catalog */
.productInfo div img {
	width: 100%;
}
/*Links in sidebar */
.sidebar #menubar .menu ul li a {
	color: rgba(249,0,4,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
/* Menu headings in sidebar */
#menubar .menu h2 {
	font-size: 20px;
}
/*Links under menus in sidebar */
#menubar .menu ul li a {
	font-size: 14px;
}
/* Menus in sidebar */
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
/* Container for links in footer */
footer .footerlinks {
	margin-top: -15px;
}

footer .footerlinks ul {
    list-style-type: none;
	white-space:nowrap;
    margin: 0;
    padding: 0;
}
footer .footerlinks li {
    display:inline-block;
	
}
footer .footerlinks li a {
    float:left;
    color: white;
    text-align: center;
    padding: 150px;
    text-decoration: none;
}
footer .footerlinksli a:hover {
}
a:visited {color:white; background-color:transparent; text-decoration:none;}

#search























